DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"

# Database configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

# App configration
SESSION_SECRET=secret
PORT=3000
DOMAIN_NAME=localhost

# Storage configutarion
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=miniominio
AWS_REGION=us-east-1
AWS_ENDPOIN=http://minio:9000
AWS_ENDPOINT_PUBLIC=http://minio.localhost
AWS_BUCKET=main-bucket

# Traefik configuration 
PROVIDERS_ETCD=true
PROVIDERS_ETCD_ENDPOINTS=etcd:2379
TRAEFIC_PANEL_DOMAIN=traefic.localhost

# etcd configuration 
ALLOW_NONE_AUTHENTICATION=yes
ETCD_ADVERTISE_CLIENT_URLS=http://etcd:2379
ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379